%footer
  #footer-content
    .container.text-center
      %p.copy-rights
        %b
          This books site buit by using
          = link_to "it-ebooks.info", "http://it-ebooks.info",{class: 'book-link', target: '_blank'}
          API
